<% provide(:title, "New Task") %>

<h1>タスク新規作成</h1>
<div class="raw">
  <div class="col-md-8 col-md-offset-2">
    <%= form_with(scope: :session, url: new_user_task_path(@user), local: true) do |f| %>
       
      <%= f.label :name, class: "label-login" %>
      <%= f.text_field :name, class: 'form-control' %>
      
      <%= f.label :discription, class: "label-login" %>
      <%= f.text_area :discription, class: 'form-control', rows: 5 %>
      
    <% end %>
      <%= link_to "新規登録", user_tasks_path, class:"btn btn-primary btn-lg", style: "margin-top: 10px;" %>
  </div>
</div>




<!--<h1>タスク新規作成</h1>-->
<!--<div class="row">-->
<!--  <div class="col-md-8 col-md-offset-2">-->
<!--    <%= form_tag user_tasks_path(@user) do  %>-->
<!--      <div class="form-group">-->
<!--        <label>名称</label>-->
<!--        <input name="name" class="form-control">-->
<!--        <label style=" margin-top: 6px;">詳細</label>-->
<!--        <textarea name="discription" class="form-control" rows="5"></textarea>-->
<!--        <%= link_to "新規登録", user_tasks_path, class:"btn btn-primary btn-lg", style: "margin-top: 10px;" %>-->
<!--      </div>-->
<!--    <% end %>-->
<!--  </div>-->
<!--</div>-->