<% provide(:title, @user.name) %>

<h1>タスクの詳細</h1>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <table class="table table-bordered">
      <tbody>
        <tr>
          <th class="show-list col-md-3"><%= Task.human_attribute_name :id %></th>
          <td><%= @task.id %></td>
        </tr>
        <tr>
          <th class="show-list col-md-3"><%= Task.human_attribute_name :name %></th>
          <td><%= @task.name %></td>
        </tr>
        <tr>
          <th class="show-list"><%= Task.human_attribute_name :description %></th>
          <td><%= simple_format(auto_link(@task.description)) %></td>
        </tr>
        <tr>
          <th class="show-list"><%= Task.human_attribute_name :created_at %></th>
          <td><%= l(@task.created_at, format: :long) %></td>
        </tr>
        <tr>
          <th class="show-list"><%= Task.human_attribute_name :updated_at %></th>
          <td><%= l(@task.updated_at, format: :long) %></td>
        </tr>
      </tbody>
    </table>
      <%= link_to "編集", edit_user_task_path(@user), class: "btn btn-success btn-lg" %>
      <%= link_to "削除", user_task_path(@user),method: :delete,
      class: "btn btn-danger btn-lg" %>
  </div>
</div>