<% provide(:title, "Users") %>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
   <%= will_paginate @users, previous_label: I18n.t('views.pagination.previous'), next_label: I18n.t('views.pagination.next'), first_label: I18n.t('views.pagination.first'), last_label: I18n.t('views.pagination.last') %>
    <table class="table table-hover table-condensed">
      <thead>
        <tr>
          <th><%= User.human_attribute_name :name %></th>
        </tr>
      </thead>  
        <% @users.each do |user| %>
        <tr>
          <td>
            <%= link_to user.name, user_path(user) %>
            <% if current_user.admin? && !user.admin? %>
              <span class="label label-success">一般</span> 
            <% elsif user.admin? %>
              <span class="label label-info">管理者</span>
            <% end %>
          </td>
          <td class="text-right">
            <% if current_user.admin? && !user.admin? %>
              <%= link_to "削除", user_path(user), method: :delete,
                  data: { confirm:"「#{user.name}」 を削除してよろしいですか？" },
                  class: "btn btn-danger" %>
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <%= will_paginate @users, previous_label: I18n.t('views.pagination.previous'), next_label: I18n.t('views.pagination.next'), first_label: I18n.t('views.pagination.first'), last_label: I18n.t('views.pagination.last') %>
  </div>
</div>